body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

iframe {
    border: none;
    width: 90%;  /* Adjust as needed */
    height: 90%; /* Adjust as needed */
}